
header {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    background-color: darkblue;
    color: #fff;
    max-height: 180px;
    flex-wrap: wrap;
  }

h1{ 
    padding: 4%;
    font-size: 200%;
    justify-content: left;
    color: #fff;
    min-width: auto;
}

aside h2{
    display: flex;
    font-size: 300%;
    text-decoration: wavy;
}

div h2{
    display: inline-block;
    position: absolute;
    padding-bottom: 15px;
    padding-left: 10px;
    color: #fff;
    background-color: #000;

}

.banner{

    display: block;
    min-width: 100%;
    max-height: 180px;
}

body {
    font-family: Arial;
    display: flex;
    flex-direction: column;
}



nav ul {
    display: flex;
    justify-content: space-evenly;
    min-width: 300px;
}

nav a, footer {
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}

ul{
    list-style-type: none;
    
}

article #contact{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a:hover{
    color: yellow;
    text-decoration: underline;

}

li{
    font-size: 90%;
    margin-right: 15px;
    justify-content: right;
    
}

img{
    max-width: 100%;
    max-height: 100%;
}


main{
    display: flex;
    min-height: 1100px;
}

aside{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
    margin: 40px;
    min-width: auto;
    
}

p{
    padding: 40px;
}

article {
    display: flex;
    border-left-color: black;
    border-width: 4px;
    border-left: solid;
    align-items: center;
    padding-top: 20px;
    justify-items: center;

}

.flexrow article {
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
    min-width: 300px;
    flex-wrap: wrap;
    
}



.project {
    padding: 20px;
    display: flex;
    align-items: flex-end;

}

.project:hover{
    transform: translateY(10px);
    opacity: 0.5;

}

#aboutMe{
    
    max-block-size: 350px;
}

aside #aboutMe{
    
    align-self: top;
}
footer{
    
    height: 60px;
    width: fit-content;
    overflow: auto;

}


a img{
    height: 95%;
    width: 95%;
}

.flexcol{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}

.flexrow{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flexrow a{
    min-width: 200px;
}

article ul {
    display: flex;
    justify-content: space-evenly;
    min-width: 300px;
    flex-wrap: wrap;

}
div{
    display: flex;
}


@media screen and (max-width: 563px) {

        aside {
            display: none;
        }
    }
