
header {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    background-color: darkblue;
    color: #fff;
    max-height: 180px;
  }

h1{ 
    padding: 4%;
    font-size: 200%;
    justify-content: left;
    color: #fff;
    min-width: auto;
}

h2{

   font-size: 300%;
   text-decoration: wavy;
}

h2 #canDo{
    gap: 150px;
}

.banner{

    display: block;
    min-width: 100%;
    max-height: 180px;
}

body {
    font-family: Arial;
    display: flex;
    flex-direction: column;
}



nav ul {
    display: flex;
    justify-content: space-evenly;
    min-width: 300px;
  }

nav a {
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}

ul{
    list-style-type: none;
    
}

nav a:hover{
    color: yellow;
    text-decoration: underline;

}

li{
    font-size: 90%;
    margin-right: 15px;
    justify-content: right;
    
}

img{
    max-width:100%;
}

main{
    display: flex;
    min-height: 1100px;
}

aside{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-around;
    margin: 40px;
    max-width: auto;
}

aside #aboutMe{
    align-self: top;
}

p{
    padding: 40px;
}

article{
    max-width: 100%;
    display: flex;
    flex-direction: row;
    border-left-color: black;
    border-width: 4px;
    border-left: solid;
    align-items: center;
    padding-top: 20px;
    flex-wrap: wrap;
    flex-basis: auto;

}

article #canDo{

    flex-wrap: wrap;
}


.projects {
    flex: 1 0 200px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    padding-top: 100px;
  }


#aboutMe{
    max-block-size: 350px;
}



#canDo{
    outline-color: aqua;
}

#contact{
    color-scheme: red + blue;
}


footer{
    
    height: 60px;
    width: fit-content;

}


